body {
  margin:0px!important;
  font-family: 'Open Sans', sans-serif;
  color:#1E1E24;
}
p {
  margin: 0px!important;
}
.navBar {
  width:30px;
  padding:2px;
  float:right;
}
.container {
  width:85%!important;
  margin: auto;
}
.menu {
  z-index:3;
  width:100%;
  height:100%;
}
ul {
  list-style-type: none!important;
}
.menuBar ul {
  text-align: center;
  padding-top: 100px;
}
.menubar a {
  text-decoration: none;
  color: #221D23;
  font-size: 25px;
}
.menubar a:hover {
  text-decoration: none;
  color: #FF8A5B;
  font-size: 25px;
}
.menubar li {
  padding-bottom: 10px;
}
.x{
  width:30px;
  height:30px;
  float:right;
  margin:0px;
  padding-top:10px;
  padding-right:10px;
}
.x img {
  width: 30px;
  height: 30px;
}
.first {
  background-color: #FCEADE;
  height:400px;
  color:black;
}
.first h1 {
  text-align: center;
  padding-top:150px;
  font-size: 50px;
}
.second {
  background-color: #25CED1;
  padding-top:50px;
  padding-bottom:50px;
}
.second p {
  width: 70%;
  margin: auto!important;
}
.footer {
  background:#221D23;
  height:100px;
  padding-top:120px;
}
.footer p {
  margin: auto;
  color:#FCEADE;
  font-size: 12px;
  align:right;
  float:right;
}
blockquote {
  width: 65%;
  margin-left: 200px;
  margin-right: 101.172px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 7px solid #EA526F;
}
i {
  color: #EA526F;
}
b {
  color: #25CED1;
}
