body {
  margin:0px!important;
  font-family: 'Open Sans', sans-serif;
  color:#1E1E24;
}
p {
  margin: 0px!important;
}
.navBar {
  width:30px;
  padding:5px;
  padding-right: 10px;
  float:right;
}
.container {
  width:85%!important;
  margin: auto;
}
blockquote {
  width: 65%;
  margin-left: 200px;
  margin-right: 101.172px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 7px solid #EA526F;
}
.menu {
  z-index:3;
  width:100%;
  height:100%;
}
ul {
  list-style-type: none!important;
}
i {
  color: #EA526F;
}
b {
  color: #25CED1;
}
.menuBar ul {
  text-align: center;
  padding-top: 100px;
}
.menubar a {
  text-decoration: none;
  color: #221D23;
  font-size: 25px;
}
.menubar a:hover {
  text-decoration: none;
  color: #FF8A5B;
  font-size: 25px;
}
.menubar li {
  padding-bottom: 10px;
}
.x{
  width:30px;
  height:30px;
  float:right;
  margin:0px;
  padding-top:10px;
  padding-right:10px;
}
.x img {
  width: 30px;
  height: 30px;
}
.first {
  background-color: #FCEADE;
  height:200px;
  color:black;
}
.first h1 {
  text-align: center;
  padding-top:70px;
  font-size: 50px;
}
.second {
  background-color:#25CED1;
  height:500px;
  padding: 10px;
  color:black;
  margin: 0px auto;
}
.second p {
  padding-top: 40px;
  padding-bottom:40px!important;
  width: 70%;
  margin: auto!important;
  padding-bottom: 5px;
  color: black;
}
.thranduil {
  width:70%;
  margin-left: 30px!important;
}
.legolas {
  width:25%;
  border: 1px solid white;
  margin-top: 20px!important;
}
.legolas p {
  padding-bottom: 0px!important;
}
.legolas a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.legolas a:hover {
  text-decoration: none;
  color: #FF8A5B;
}
.legolas li {
  padding-bottom: 10px;
}
.thranduil, .legolas {
    float: left;
    color: white;
    margin: auto;
}
.third {
  background-color: #FCEADE;
  height:100px;
  color:black;
}
.third h1 {
  text-align: center;
  padding-top:30px;
  font-size: 30px;
  margin: 0px;
}
.fourth {
  background-color:#FF8A5B;
  height:auto;
  padding: 10px;
  color:white;
  text-align: center;
  padding-top:30px;
}
.fourth p {
  padding-bottom:40px!important;
  width: 70%;
  margin: auto!important;
  padding-bottom: 5px;
  color: white;
}
.fourth a {
  text-decoration: none;
  color: #221D23;
  color: white;
}
.fourth a:hover {
  text-decoration: none;
  color: #25CED1;
}
.footer {
  background:#221D23;
  height:100px;
  padding-top:120px;
}
.footer p {
  margin: auto;
  color:#FCEADE;
  font-size: 12px;
  align:right;
  float:right;
}
