body {
  margin:0px!important;
  font-family: 'Open Sans', sans-serif;
  color:#1E1E24;
  width: 100%
}
p {
  margin: 0px!important;
}
.navBar {
  float: right;
}
.container {
  margin: auto;
}
blockquote {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: 7px solid #EA526F;
}
.menu {
  z-index:3;
  width:100%;
  height:100%;
}
ul {
  list-style-type: none!important;
}
i {
  color: #EA526F;
}
b {
  color: #25CED1;
}
.menubar a {
  text-decoration: none;
  color: #221D23;
}
.menubar a:hover {
  text-decoration: none;
  color: #FF8A5B;
}
.x{
  width:30px;
  height:30px;
  float:right;
  margin:0px;
  padding-top:10px;
  padding-right:10px;
}
.x img {
  width: 30px;
  height: 30px;
}
.first {
  background-color: #FCEADE;
  height:200px;
  color:black;
}
.first h1 {
  text-align: center;
  padding-top:70px;
  font-size: 50px;
}
.second {
  background-color:#25CED1;
  padding: 10px;
  color: black;
}
.second p {
  width: 85%;
  margin: auto!important;
  padding-bottom: 5px;
  color: black;
}
.third {
  background-color: #FCEADE;
  height:100px;
  color:black;
}
.third h1 {
  text-align: center;
  padding-top:30px;
  font-size: 30px;
  margin: 0px;
}
.fourth {
  background-color:#FF8A5B;
  height:auto;
  padding: 10px;
  color:white;
  text-align: center;
  padding-top:30px;
}
.fourth p {
  padding-bottom:40px!important;
  width: 70%;
  margin: auto!important;
  padding-bottom: 5px;
  color: white;
}
.fourth a {
  text-decoration: none;
  color: #221D23;
  color: white;
}
.fourth a:hover {
  text-decoration: none;
  color: #25CED1;
}
.footer {
  background:#221D23;
  height:100px;
  padding-top:120px;
}
.footer p {
  margin: auto;
  color:#FCEADE;
  font-size: 12px;
  align:right;
  float:right;
}
.thranduil {
  padding-top: 40px!important;
}
.legolas {
  border: 1px solid white;
  margin-top: 20px!important;
}
.legolas p {
  padding-top: 40px!important;
  padding-bottom: 0px!important;
}
.legolas a {
  text-decoration: none;
  color: white;
  font-size: 15px;
}
.legolas a:hover {
  text-decoration: none;
  color: #FF8A5B;
}
.legolas li {
  padding-bottom: 10px;
}
.thranduil, .legolas {
    color: white;
    margin: auto;
}
@media only screen and (min-width: 900px) {
  .navBar {
    width:30px;
    padding:5px;
    padding-right: 10px;
  }
  .container {
    width:85%!important;
  }
  blockquote {
    width: 65%;
    margin-left: 200px;
    margin-right: 101.172px;
  }
  .menu {
    text-align: center;
  }
  .menuBar ul {
    padding-top: 100px;
  }
  .menubar a {
    font-size: 25px;
  }
  .menubar a:hover {
    font-size: 25px;
  }
  .menubar li {
    padding-bottom: 10px;
  }
  .second {
    height:700px;
  }
  .thranduil {
    width:72%;
  }
  .legolas {
    width:25%;
  }
  .thranduil, .legolas {
      float: left;
  }
}

@media only screen and (max-width: 600px) {
  .navBar {
    width:50px;
    padding:5px;
    padding-right: 10px;
  }
  hr {
    border: black 2px solid;
    margin-bottom: 10px;
  }
  .container {
    width:100%!important;
  }
  blockquote {
    width: 80%
    margin-left: 50px;
  }
  .menuBar ul {
    padding-top: 50px;
    text-align: left;
  }
  .menubar a {
    font-size: 20px;
  }
  .menubar li {
    padding-bottom: 5px;
  }
  .second {
    height:1500px;
  }
  .second p {
    width: 85%;
    margin: auto!important;
    padding-bottom: 5px;
    color: black;
  }
  .footer p {
    padding-right: 20px;
  }
  .thranduil {
    width:100%;
  }
  .legolas {
    width:90%;
  }
}
